# ESP-IDF & Build System
# -------------------------------------------------------------------
# Build output directory
/build/

# Generated configuration files.
# It's recommended to track a sdkconfig.defaults file instead.
/sdkconfig
/sdkconfig.old

# Directory for components managed by the build system
/managed_components/

# Object files, libraries, and binaries that might be created outside the build dir
*.a
*.bin
*.elf
*.map
*.o
*.obj

# Python virtual environment
# -------------------------------------------------------------------
.venv/
venv/
__pycache__/
*.pyc

# IDE & Editor specific files
# -------------------------------------------------------------------
# VSCode user-specific settings
.vscode/

# Clangd cache
.clangd/

# System files
# -------------------------------------------------------------------
# macOS
.DS_Store

# Windows
Thumbs.db